<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Password reset</h3>
              <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
              <form method="post" action="{% url 'password_reset' %}">
                  {% csrf_token %}
                  {{ form.non_field_errors }}
                <div class="form-label-group">
                    {{ form.email.errors }}
                  <input type="text" id="{{ form.email.id_for_label }}" 
                          name="{{ form.email.name }}"
                          class="form-control" placeholder="Email" 
                          {% if form.email.value != None %} 
                          value="{{ form.email.value|stringformat:'s' }}"
                          {% endif %} 
                          maxlength="{{ form.email.field.max_length }}" 
                          required autofocus>
                  <label for="{{ form.email.id_for_label }}">Email</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Reset my password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
