<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Password reset done</h3>
              <div class="text-center">
                  <a class="small" href="{% url 'login' %}">Login</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
