<!-- templates/home.html-->
{% extends 'base.html' %} {% block title %}Detail{% endblock %} {% block content %}

<!--close events-->
<script>
  $(document).ready(function () {
    $('button.close').click(function () {
      var res = this.id.split("_");
      window.location.href = `./${res[0]}_${res[1]}/${res[2]}/`;
    });
  });
</script>

<div class="row mt-3">
  <div class="card h-100 w-100">
    <div class="card-body">
      {{ article.title }}
      <br> {{ article.authors}}
      <br>
      <a href="{{ article.url}}"> {{ article.url }}</a>
      <br> {{ article.date }}
      <br>
      <form method="post" action="{% url 'add to library' %}">
        {% csrf_token %} {{ form.non_field_errors }}
        <input type="hidden" id="pk" name="pk" value={{ article.id }}>
        {% if article.user_article %}
        <button type="button" class="btn btn-secondary" id="library_save_{{ article.id }}" title="Save"> Saved</button>
        {% else %}
        <button class="btn btn-primary" id="library_save_{{ article.id }}" title="Save"> Save</button>
        {% endif %}
      </form>
    </div>
  </div>
</div>

<hr>


<div class="row mt-3">
  {% for tag in tags %}
  <div class="col-2">
    <span class="badge badge-primary">
        {{tag.tag}}
        {% if tag.user == user %}
        <button type="button" class="close" aria-label="Dismiss" id="delete_tag_{{ tag.id }}">
          <span aria-hidden="true">&times;</span>
        </button>        
        {% endif %}

      </span>
  </div>
  {% endfor %}
  <div class="col-2 ">
    <form method="post" action="{% url 'add tag' %}">
      {% csrf_token %} {{ form.non_field_errors }}
      <div class="row mt-3"></div>
      <input type="hidden" id="pk" name="pk" value={{ article.id }}>
      <input type="text" class="form-control input-sm" placeholder="Add tag" required autofocus name="tag" id="tag">
      <button class="btn btn-primary btn-sm" id="" title="Add">Add</button>

    </form>
  </div>
</div>

<hr>

<div class="row mt-3">
  <div class="col-7 ">
    <input type="checkbox" class="custom-control-input" "comment_checkbox" id="comment_checkbox">
    <label class="custom-control-label" for="comment_checkbox">Show comments from others</label>
    {% for comment in comments %}
    <div class="row mt-3">
      <div class="card">
        <div class="card-body">
            {% if comment.user == user %}
            <button type="button" class="close" aria-label="Close" id="delete_comment_{{ comment.id }}">
              <span aria-hidden="true">&times;</span>
            </button>
            {% endif %}
            <h4>{{ comment.title}}</h4>
            <pre>{{ comment.text }}</pre>
            <a href="{{ comment.code_url}}">{{ comment.code_url }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row mt-3">
      <div class="card h-100 w-100">
        <div class="card-body">
            <form method="post" action="{% url 'add comment' %}">
                {% csrf_token %} {{ form.non_field_errors }}
            <p>
              <input type="hidden" id="pk" name="pk" value={{ article.id }}>
              <input type="text" class="form-control input-lg" placeholder="Title" name="title" id="title" required autofocus>
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" placeholder="Enter comment here" name="text" id="text"></textarea>
              <input type="url" class="form-control input-lg" placeholder="Code URL" name="url" id="url" autofocus>
              <input type="checkbox" class="form-control-input" name="private" id="private">
              <label class="form-control-label" for="private">Private</label>
            </p>
            <button class="btn btn-primary btn-sm" id="" title="Add">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-1 ">
    <div class="row">
    </div>
  </div>


  <div class="col-4 ">
    <input type="checkbox" class="custom-control-input" "benchmark_checkbox" id="benchmark_checkbox">
    <label class="custom-control-label" for="benchmark_checkbox">Show benchmarks from others</label>
    {% for benchmark in benchmarks %}
    <div class="row mt-3">
      <div class="card">
        <div class="card-body">
            {% if benchmark.user == user %}
            <button type="button" class="close" aria-label="Close" id="delete_benchmark_{{ benchmark.id }}">
              <span aria-hidden="true">&times;</span>
            </button>
            {% endif %}
            <h4>{{ benchmark.dataset}}</h4>
            {{ benchmark.score|floatformat }} % <br>
            <a href="{{ comment.code_url}}">{{ benchmark.code_url }}</a>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="row mt-3">
      <div class="card h-100 w-100">
        <div class="card-body">
            <form method="post" action="{% url 'add benchmark' %}">
                {% csrf_token %} {{ form.non_field_errors }}
            <p>
              <input type="hidden" id="pk" name="pk" value={{ article.id }}>
              <input type="text" class="form-control" placeholder="Dataset" name="dataset" id="dataset" equired autofocus>
              <input type="number" class="form-control" placeholder="Score" name="score" id="score" required autofocus>
              <input type="url" class="form-control input-lg" placeholder="Code URL" name="url" id="url" required autofocus>
              <input type="checkbox" class="form-control-input" name="private" id="private">
              <label class="form-control-label" for="private">Private</label>
            </p>
            <button class="btn btn-primary btn-sm" id="" title="Add">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>



</div>
{% endblock %}