<!-- templates/home.html-->
{% extends 'base.html' %} {% block title %}Detail{% endblock %} {% block content %}

<!--close events-->
<script>
  $(document).ready(function () {
    var show_all = {{ show_all }} ;

    $('button.close').click(function () {
      var res = this.id.split("_");
      window.location.href = `./${res[0]}_${res[1]}/${res[2]}/`;
    });

    $('#comment_checkbox').click(function () {
      if (this.checked)
      {
        show_all += 2;
      }
      else if (show_all == 2 || show_all == 3)
      {
        show_all -= 2;
      }
      window.location.href = `./?show_all=${show_all}`;
    });
    $('#benchmark_checkbox').click(function () {
      if (this.checked)
      {
        show_all += 1;
      }
      else if (show_all == 1 || show_all == 3)
      {
        show_all -= 1;
      }
      window.location.href = `./?show_all=${show_all}`;

    });

    function reference_to_string(el)
    {
      var title = el.title;
      var year = el.year;
      var authors = [];

      el.authors.forEach(element => {
                        authors.push(element.name);
                      });
      authors = authors.join(', ');
      return [authors, title, year]
    }

    $('#arxiv').click(function () {
          var references = [];

          $.getJSON('https://api.semanticscholar.org/v1/paper/arXiv:{{ arxiv_id }}', function(data){
              data.references.forEach(element => {
                        references.push(reference_to_string(element));
                      });
          })
          .done(function() { 
              references.forEach(element => {
                var table = document.getElementById("references");
                var row = table.insertRow(table.rows.length);

                var authors  = document.createTextNode(element[0]);
                var title  = document.createTextNode(element[1]);
                var year  = document.createTextNode(element[2]);


                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);

                cell1.setAttribute('style', "width: 10%");
                cell2.setAttribute('style', "width: 40%");
                cell3.setAttribute('style', "width: 50%");

                cell1.appendChild(year);
                cell2.appendChild(authors);
                cell3.appendChild(title);
              });
           });
      });

  });
</script>

<div class="row mt-3">
  <div class="card h-100 w-100">
    <div class="card-body">
      {{ article.title }}
      <br> {{ article.authors}}
      <br>
      <a href="{{ article.url}}"> {{ article.url }}</a>
      <br> {{ article.date }}
      <br>
      <p>
          {{ article.abstract }}
      </p>
      <form method="post" action="{% url 'add to library' %}">
        {% csrf_token %} {{ form.non_field_errors }}
        <input type="hidden" id="pk" name="pk" value={{ article.id }}>
        {% if arxiv_id != None %}
        <div class="row mt-2">
            <button type="button" class="btn btn-primary" id="arxiv" title="Save">Load references</button>
        </div>
        <div class="row mt-2">
            <table class="table table-hover" id='references'></table>
        </div>
        {% endif %}
          <div class="row mt-2">
          {% if article.user_article %}
          <button type="button" class="btn btn-secondary" id="library_save_{{ article.id }}" title="Save"> Saved</button>
          {% else %}
          <button class="btn btn-primary" id="library_save_{{ article.id }}" title="Save"> Save</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

<hr>


<div class="row mt-3">
  {% for tag in tags %}
  <div class="col-2">
    <span class="badge badge-primary">
        {{tag.tag}}
        {% if tag.user == user %}
        <button type="button" class="close" aria-label="Dismiss" id="delete_tag_{{ tag.id }}">
          <span aria-hidden="true">&times;</span>
        </button>        
        {% endif %}

      </span>
  </div>
  {% endfor %}
  <div class="col-2 ">
    <form method="post" action="{% url 'add tag' %}">
      {% csrf_token %} {{ form.non_field_errors }}
      <div class="row mt-3"></div>
      <input type="hidden" id="pk" name="pk" value={{ article.id }}>
      <input type="text" class="form-control input-sm" placeholder="Add tag" required autofocus name="tag" id="tag">
      <button class="btn btn-primary btn-sm" id="" title="Add">Add</button>

    </form>
  </div>
</div>

<hr>

<div class="row mt-3">
  <div class="col-7 ">
    <input type="checkbox" class="custom-control-input" name="comment_checkbox" id="comment_checkbox"
      {% if show_all == "2" or show_all == "3" %}
        checked
      {% endif %}>
    <label class="custom-control-label" for="comment_checkbox">Show comments from others</label>
    {% for comment in comments %}
    <div class="row mt-3">
      <div class="card">
        <div class="card-body">
            {% if comment.user == user %}
            <button type="button" class="close" aria-label="Close" id="delete_comment_{{ comment.id }}">
              <span aria-hidden="true">&times;</span>
            </button>
            {% endif %}
            <h4>{{ comment.title}}</h4>
            {{ comment.text |safe }}
            <a href="{{ coment.code_url}}">{{ comment.code_url }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row mt-3">
      <div class="card h-100 w-100">
        <div class="card-body">
            <form method="post" id="form" action="{% url 'add comment' %}">
              <p>
                {% csrf_token %} {{ form.non_field_errors }}
              <!-- Initialize Quill editor -->
              <input type="hidden" id="pk" name="pk" value={{ article.id }}>
              <input type="text" class="form-control input-lg" placeholder="Title" name="title" id="title" required autofocus>
              <!-- Create the editor container -->
              <div id="editor" style="height: 100px">
                <p>Enter comment here</p>
              </div>

              <textarea style="display:none" name="text" id="text"></textarea>
              <input type="url" class="form-control input-lg" placeholder="Code URL" name="url" id="url" autofocus>
              <input type="checkbox" class="form-control-input" name="private" id="private">
              <label class="form-control-label" for="private">Private</label>
            
            </p>
            <button class="btn btn-primary btn-sm" id="" title="Add">Add</button>
          </form>
          <script>
              var quill = new Quill('#editor', {
                theme: 'snow'
              });
              $("#form").on("submit",function(){
                $("#text").val(quill.root.innerHTML);
              })
          </script>

        </div>
      </div>
    </div>
  </div>

  <div class="col-1 ">
    <div class="row">
    </div>
  </div>


  <div class="col-4 ">
    <input type="checkbox" class="custom-control-input" name="benchmark_checkbox" id="benchmark_checkbox"
    {% if show_all == "1" or show_all == "3" %}
        checked
      {% endif %}>
    <label class="custom-control-label" for="benchmark_checkbox">Show benchmarks from others</label>
    {% for benchmark in benchmarks %}
    <div class="row mt-3">
      <div class="card">
        <div class="card-body">
            {% if benchmark.user == user %}
            <button type="button" class="close" aria-label="Close" id="delete_benchmark_{{ benchmark.id }}">
              <span aria-hidden="true">&times;</span>
            </button>
            {% endif %}
            <h4>{{ benchmark.dataset}}</h4>
            {{ benchmark.score|floatformat }} % <br>
            <a href="{{ comment.code_url}}">{{ benchmark.code_url }}</a>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="row mt-3">
      <div class="card h-100 w-100">
        <div class="card-body">
            <form method="post" action="{% url 'add benchmark' %}">
                {% csrf_token %} {{ form.non_field_errors }}
            <p>
              <input type="hidden" id="pk" name="pk" value={{ article.id }}>
              <input type="text" class="form-control" placeholder="Dataset" name="dataset" id="dataset" required autofocus>
              <input type="number" step="0.01" class="form-control" placeholder="Score" name="score" id="score" required autofocus>
              <input type="url" class="form-control input-lg" placeholder="Code URL" name="url" id="url" autofocus>
              <input type="checkbox" class="form-control-input" name="private" id="private">
              <label class="form-control-label" for="private">Private</label>
            </p>
            <button class="btn btn-primary btn-sm" id="" title="Add">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>



</div>
{% endblock %}