<!-- templates/home.html-->
{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %}
<!--checkbox change-->
<script>
  $(document).ready(function () {
    $('#mylibrary').change(function () {
      if (this.checked) {
        window.location.href = '/lib/';
      }
      else {
        window.location.href = '/';
      }
    });
  });
</script>
<!-- Search form -->
<div class="row mt-3">
  <div class="col-lg-6 md-6 sm-4 ">
    <form method="post" action="{% url 'home' %}">
      {% csrf_token %} {{ form.non_field_errors }}
      <div class="row mt-3">
        <input type="text" class="form-control" placeholder="Search title" autofocus name="search_article" id="search_article">
      </div>

      <div class="row mt-3">
        <select class="form-control" placeholder="Search tag" autofocus name="search_tag" id="search_tag">
          <option disabled selected value> -- select an option -- </option>
          {% for option in tags %}
          <option value="{{ option.tag }}">{{ option.tag }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="row mt-3">
        <select class="form-control" placeholder="Search benchmark" autofocus name="search_benchmark" id="search_benchmark">
          <option disabled selected value> -- select an option -- </option>
          {% for option in benchmarks %}
          <option value="{{ option.dataset }}">{{ option.dataset }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="row mt-3">
        <div class="text-right">
          <button class="btn btn-primary" id="search_benchmark_button" title="Search" type="submit">Search</button>
        </div>
      </div>

    </form>
  </div>

  <div class="col-lg-3 md-3 sm-2 ">
    <div class="custom-control custom-checkbox text-right">
      <input type="checkbox" class="custom-control-input" id="mylibrary" {% if checkbox == "true" %} checked {% endif %}>
      <label class="custom-control-label" for="mylibrary">My library</label>
    </div>
  </div>
    
  <div class="col-lg-3 md-3 sm-2 ">

    <div class="text-right">
      
      <a href="{% url 'add paper' %}">
              <button class="btn btn-primary" id="search_benchmark_button" title="Search" type="submit">Add paper</button>
            </a>
          </div>
    </div>



</div>

<hr> {% for article in articles %}
<div class="row mt-3">
  <div class="card h-100 w-100">
    <div class="card-body">
      <p>
        <a href="{% url 'detail' pk=article.id %}">
          {{ article.title }}
          <br> {{ article.authors}}
          <br> {{ article.date }}
        </a>
      </p>
      <form method="post" action="{% url 'add to library' %}">
        {% csrf_token %} {{ form.non_field_errors }}
        <input type="hidden" id="pk" name="pk" value={{ article.id }}>
        {% if article.user_article %}
        <button type="button" class="btn btn-secondary" id="library_save_{{ article.id }}" title="Save"> Saved</button>
        {% else %}
        <button class="btn btn-primary" id="library_save_{{ article.id }}" title="Save"> Save</button>
        {% endif %}
      </form>

    </div>

  </div>

</div>
{% endfor %}

</div>
{% endblock %}